<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="climbbot3_ros2_control" params="name initial_positions_file use_gazebo">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>
        <ros2_control name="${name}" type="system">
            <!-- Use Gazebo plugin if simulating -->
            <xacro:if value="${use_gazebo}">
              <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
              </hardware>
            </xacro:if>

            <!-- Use mock hardware otherwise -->
            <xacro:unless value="${use_gazebo}">
              <hardware>
                <plugin>mock_components/GenericSystem</plugin>
              </hardware>
            </xacro:unless>

            <joint name="l1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l3_1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l3_1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l3_roll_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l3_roll_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l3_pitch_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l3_pitch_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l3_yaw_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l3_yaw_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r3_1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r3_1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r3_roll_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r3_roll_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r3_pitch_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r3_pitch_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r3_yaw_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r3_yaw_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
